<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionChange)="searchNews($event.target.value)"></ion-searchbar>
  <div *ngIf="stories$ | async as news">
    <ion-item *ngFor="let article of news.articles">
      <ion-card>
        <ion-img
          *ngIf="article.urlToImage"
          [src]="article.urlToImage"
        ></ion-img>
        <ion-card-header>
          <ion-card-title>{{ article.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ article.description }}
          <ion-icon name="bookmark-outline" (click)="saveArticle(article.url, article.urlToImage)"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>
