<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="signOut()">Sign Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionChange)="searchNews($event.target.value)"></ion-searchbar>
  <ion-select
    placeholder="Categories"
    (ionChange)="onCategoryChange($event.target.value)"
  >
    <ion-select-option value="">All</ion-select-option>
    <ion-select-option value="business">Business</ion-select-option>
    <ion-select-option value="entertainment">Entertainment</ion-select-option>
    <ion-select-option value="general">General</ion-select-option>
    <ion-select-option value="health">Health</ion-select-option>
    <ion-select-option value="science">Science</ion-select-option>
    <ion-select-option value="sports">Sports</ion-select-option>
    <ion-select-option value="technology">Technology</ion-select-option>
  </ion-select>
  <div *ngIf="stories$ | async as news">
    <ion-item *ngFor="let article of news.articles">
      <ion-card>
        <a href="{{article.url}}" target="blank" class="article-anchor">
          <ion-img
            *ngIf="article.urlToImage"
            [src]="article.urlToImage"
          ></ion-img>
        </a>
        <ion-card-header>
          <a href="{{article.url}}" target="blank" class="article-anchor">
            <ion-card-title>{{ article.title }}</ion-card-title>
          </a>
        </ion-card-header>

        <ion-card-content>
          {{ article.description }}
          <ion-icon
            name="bookmark-outline"
            (click)="saveArticle(article)"
          ></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>
