<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> News </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="signOut()">Sign Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <div *ngIf="stories$ | async as news">
    <ion-item>
      <!-- <ion-label>Categories</ion-label> -->
      <ion-select
        placeholder="Categories"
        (ionChange)="onCategoryChange($event)"
      >
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="business">Business</ion-select-option>
        <ion-select-option value="entertainment"
          >Entertainment</ion-select-option
        >
        <ion-select-option value="general">General</ion-select-option>
        <ion-select-option value="health">Health</ion-select-option>
        <ion-select-option value="science">Science</ion-select-option>
        <ion-select-option value="sports">Sports</ion-select-option>
        <ion-select-option value="technology">Technology</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let article of news.articles">
      <ion-card>
        <a href="{{article.url}}" target="blank" class="article-anchor">
          <ion-img
            *ngIf="article.urlToImage"
            [src]="article.urlToImage"
          ></ion-img>
        </a>
        <ion-card-header>
          <a href="{{article.url}}" target="blank" class="article-anchor">
            <ion-card-title>{{ article.title }}</ion-card-title>
          </a>
        </ion-card-header>

        <ion-card-content>
          {{ article.description }}
          <ion-icon
            name="bookmark-outline"
            (click)="saveArticle(article)"
          ></ion-icon>
        </ion-card-content>
      </ion-card>

      <!--
      <h6>{{ article.title }}</h6>
      <ion-thumbnail>
        <ion-img
          *ngIf="article.urlToImage"
          [src]="article.urlToImage"
        ></ion-img>
      </ion-thumbnail>
      <div>
        <p>{{ article.description }}</p>
      </div>-->
    </ion-item>
  </div>
</ion-content>
