<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Saved </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saved</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="user$ as user">
    <ion-item *ngFor="let article of savedNews">
      <ion-card>
        <a href="{{article.url}}" target="blank" class="article-anchor">
          <ion-img
            *ngIf="article.urlToImage"
            [src]="article.urlToImage"
          ></ion-img>
        </a>
        <ion-card-header>
          <a href="{{article.url}}" target="blank" class="article-anchor">
            <ion-card-title>{{ article.title }}</ion-card-title>
          </a>
          <ion-icon
            name="bookmark-outline"
            (click)="unsaveArticle(article)"
          ></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </div>
</ion-content>
